// .swiper{
//   display: flex;
// }

// .swiper-container {
//   position: relative;
//   padding-top: 50px;
// }

 .swiper-button {
  @include button-reset;
  margin-left: auto;
  margin-right: 0;
  position: absolute;
  width: 37px;
  height: 35px;
  background-color: $background-blue;
  top: 0;

  &--prev {
    right: 40px;
  }

  &--next {
    right: 0;
    transform: rotate(180deg);
  }

  &--next::before,
  &--prev::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 10px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
