.social {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.social__list {
  @include list-reset;
  display: flex;
  justify-content: flex-end;

  &--footer {
    justify-content: center;
  }
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $opacity-blue;
  width: 21px;
  height: 21px;

  &:not(:last-child) {
    margin-right: 17px;
  }

  &--border {
    background-color: $basic-white;
    border: 1px solid $font-color;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__picture {
  fill: $basic-white;

  &--black {
    fill: $font-color;
  }
}
