$basic-white: rgba(255, 255, 255, 1);
$opacity-white: rgba(255, 255, 255, 0.7);
$basic-black: rgba(0, 0, 0, 1);
$background-blue: rgb(2, 102, 193);
$opacity-blue: rgba(2, 102, 193, 0.4);

$title-black:rgb(31, 31, 31);
$background-black: rgb(19, 19, 20);
$cursor-black: rgb(7, 7, 7);
$background-grey: rgba(28, 28, 28, 1);
$light-grey: rgba(255, 255, 255, 0.2);
$border-grey:rgb(201, 204, 212);
$button-grey: rgb(218, 218, 218);
$button-close-grey: rgba(20, 21, 23, 0.2);
$menu-grey:rgb(246, 246, 246);
$font-grey: rgb(72, 73, 77);
$link-grey: rgba(0, 0, 0, 0.5);
$blue: rgb(10, 217, 198);
$blue-hover: rgb(10, 217, 250);
$blue-active: rgba(10, 217, 250, 0.7);

